.light-checkinInfo-selector {
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: 25% 10% 10% 10% 10% 10% 25%; 
  align-items: center;
  justify-items: center;
}
.selection-light {
  transition: all 0.8s ease;
  justify-self: center;
  align-self: center;
  height:0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #eef5f8;
  border: none;
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(160, 236, 255, 0.842),
              inset 1px 1px 3px rgba(160, 236, 255, 0.842),
              3px 3px 12px rgba(0, 128, 160, 0.616),
              -3px -3px 12px rgba(0, 128, 160, 0.623);
  border: 1px solid rgba(70, 243, 255, 0.616);
}

.checkinInfo__Slider {
  position: relative;
  width: 40rem;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:flex-start;
  overflow: hidden;
  padding-left: .2rem;
  padding-right: .2rem;
}

@media (max-width: 760px) {
  .checkinInfo__Slider {
    width: 98%;
  }
}

.checkinInfo__slide {
  min-width: 100%;
  height:80%;
  transition: .5s;
  overflow: hidden;
  padding: -2rem;
}

#checkinItem__goLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height:80%;
  left:0;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
}

#checkinItem__goRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height:80%;
  right: 0;
  background: none;
  border: none;
  outline:none;
  transition: .5s;
}

@media (min-width: 760px) {
  .checkinItem-inner-container {
    height: 100%;
    display: grid;
    grid-row-gap: 4px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5rem 5rem 5rem 5rem;
  }
}
.checkinItem-inner-container {
  padding-bottom: .5rem;
}
/* DARK STUFF */
.dark-checkinInfo-selector {
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: 25% 10% 10% 10% 10% 10% 25%; 
  align-items: center;
  justify-items: center;
}

.selection-dark{
  transition: all 0.8s ease;
  justify-self: center;
  align-self: center;
  height:0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #808080;
  border: 1px solid black;
  outline: none;
}

/* NOTES */

.light-checkin-notes__dataBox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem auto;
  border-radius: .5rem;
  margin: auto;
  min-height: 20rem;
  max-height: 30rem;
  margin-top: 1rem;
  width: 95%;
  background-color: rgb(236, 236, 236);
  box-shadow:  inset -4px -4px 4px 0 rgba(255, 255, 255),
               inset 6px 6px 15px 0 rgba(0, 0, 0, 0.39);
}

.notes-top-row {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.light-checkin-notes__dataBox h2 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #525252;
}

.light-checkin-notes__dataBox p {
  margin: 0;
  font-size: .8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #525252;
}

.light-notesBox__iconContainer {
  border-radius: 50%;
  background-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.9),
              inset 3px 3px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}



.notes-text__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: .5rem;
}

/* DARK NOTES */

.dark-checkin-notes__dataBox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem auto;
  border-radius: .5rem;
  margin: auto;
  min-height: 20rem;
  max-height: 30rem;
  margin-top: 1rem;
  width: 95%;
  background-color: rgb(44, 44, 44);
  box-shadow:  inset -4px -4px 4px 0 rgba(255, 255, 255, 0.123),
               inset 6px 6px 15px 0 rgba(0, 0, 0, 0.897);
}

.dark-checkin-notes__dataBox h2 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #a7a7a7;
}

.dark-checkin-notes__dataBox p {
  margin: 0;
  font-size: .8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #a7a7a7;
}

.dark-notesBox__iconContainer {
  border-radius: 50%;
  background-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.246),
              inset 3px 3px 4px rgba(0, 0, 0, 0.877);
  justify-content: center;
  align-items: center;
}