.dark-checkin-item {
  margin: 1rem 0;
}

.dark-checkin-item__content {
  border-radius: 1.5rem;
  margin: 1rem auto;
  margin-top: 7rem;
  width: 100%;
  max-width: 40rem;
  background-image: linear-gradient(to bottom right, #444343, #242424 );
  box-shadow:
  -8px -8px 8px 0 rgba(151, 150, 150, 0.267),
  12px 12px 12px 0 rgba(0, 0, 0, 0.589);

  
}

.dark-checkin-item__info {
  padding: 1rem;
  text-align: center
}

.dark-checkin-item__image {
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
}

.dark-checkin-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark-checkin-item__info h2,
.dark-checkin-item__info h3,
.dark-checkin-item__info p {
  margin: 0 0 0.5rem 0;
  color: #D2D2D2;
  font-family: 'Heebo', sans-serif;
}
.dark-checkin-item__info hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  width: 80%
}

.dark-checkin-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.dark-checkin-item__modal-content {
  padding: 0;
}

.dark-checkin-item__modal-actions {
  text-align: right;
}

.dark-checkin-item__actions button,
.dark-checkin-item__actions a {
  margin: 0.5rem;
}

.dark-warning-text {
  text-align: center;
  color: #c0c0c0;
  font-family: 'Josefin Sans', sans-serif;
}

/* @media (min-width: 768px) {
  .checkin-item__image {
    height: 20rem;
  }
} */

/* LIGHT STUFF */

.light-checkin-item {
  margin: 1rem 0;
}

.light-checkin-item__content {
  border-radius: 1.5rem;
  margin: 1rem auto;
  margin-top: 3rem;
  width: 100%;
  max-width: 40rem;
  background-image: linear-gradient(to bottom right, rgb(240, 240, 240), rgb(196, 196, 196) );
  box-shadow: -4px -4px 6px rgb(255, 255, 255),
              4px 4px 6px rgba(0,0,0,0.6);

}
  


.light-checkin-item__info {
  padding: 1rem;
  text-align: center
}

.light-checkin-item__image {
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
}

.light-checkin-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-checkin-item__info h2,
.light-checkin-item__info h3,
.light-checkin-item__info p {
  margin: 0 0 0.5rem 0;
  color: #D2D2D2;
  font-family: 'Heebo', sans-serif;
}
.light-checkin-item__info hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  width: 80%
}

.light-checkin-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.light-checkin-item__modal-content {
  padding: 0;
}

.light-checkin-item__modal-actions {
  text-align: right;
}

.light-checkin-item__actions button,
.light-checkin-item__actions a {
  margin: 0.5rem;
}

.light-warning-text {
  text-align: center;
  color: #666666;
  font-family: 'Josefin Sans', sans-serif;
}