.checkin-item {
  margin: 1rem 0;
}

.checkin-item__content {
  padding: 0;
}

.checkin-item__info {
  padding: 1rem;
  text-align: center
}

.checkin-item__image {
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
}

.checkin-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkin-item__info h2,
.checkin-item__info h3,
.checkin-item__info p {
  margin: 0 0 0.5rem 0;
  color: #D2D2D2;
  font-family: 'Heebo', sans-serif;
}
.checkin-item__info hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  width: 80%
}

.checkin-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.checkin-item__modal-content {
  padding: 0;
}

.checkin-item__modal-actions {
  text-align: right;
}

.checkin-item__actions button,
.checkin-item__actions a {
  margin: 0.5rem;
}

/* @media (min-width: 768px) {
  .checkin-item__image {
    height: 20rem;
  }
} */