.light-totals-card {
  border-radius: 1.5rem;
  margin: 1rem auto;
  margin-top: 7rem;
  width: 90%;
  max-width: 40rem;
  background-image: linear-gradient(to bottom right, rgb(240, 240, 240), rgb(196, 196, 196) );
  box-shadow: -4px -4px 6px rgb(255, 255, 255),
              4px 4px 6px rgba(0,0,0,0.6);

  
}

.light-totals-card h1 {
  color: #5f5f5f;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.light-stats-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 31% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}

.light-stats-labels p {
  color: #5f5f5f;
  font-family: 'Josefin Sans', sans-serif;
}


@media (max-width: 600px) {
  .light-stats-labels p {
    
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    
  }
}
  
.light-compare-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  justify-items: center;
  width: 100%;
}

.light-compare-labels p {
  color: #5f5f5f;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 600px) {
  .light-compare-labels p {
    
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    
  }
}

.light-stat-totals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 31% 18% 18% 18% 18%;
  justify-items: center;
  font-size: .8rem;
  color: #5f5f5f;font-family: 'Josefin Sans', sans-serif;
}

.light-measure-totals {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  font-size: .8rem;
  color: #5f5f5f;
  justify-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.client-name {
  text-align: center;
}

.totals-info hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  width: 80%
}
.totals-info h1,
.totals-info h3 {
  text-align: center;

}

.graph-image img {
  text-align:center;
  width: 100%;
  object-fit: cover;
}

.new-checkin-box {
  display: flex;
  justify-content: center;
  width: 100%

}
.new-checkin__button {
  margin: 0;
  width: 70%
}

.modalButtons {
  margin-right: 10px;
}







/* DARK STUFF */

.dark-totals-card {
  border-radius: 1.5rem;
  margin: 1rem auto;
  margin-top: 7rem;
  width: 90%;
  max-width: 40rem;
  background-image: linear-gradient(to bottom right, #444343, #242424 );
  box-shadow:
  -8px -8px 8px 0 rgba(151, 150, 150, 0.267),
  12px 12px 12px 0 rgba(0, 0, 0, 0.589);
}

.dark-totals-card h1 {
  color: #d8d8d8;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}


.dark-stats-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 31% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
 font-family: 'Josefin Sans', sans-serif;
}

.dark-stats-labels p {
  color: white
}


@media (max-width: 600px) {
  .dark-stats-labels p {
    
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    
  }
}
  
.dark-compare-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  justify-items: center;
  width: 100%;
 font-family: 'Josefin Sans', sans-serif;
}

.dark-compare-labels p {
  color: white;
}

@media (max-width: 600px) {
  .dark-compare-labels p {
    
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    
  }
}

.dark-stat-totals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 31% 18% 18% 18% 18%;
  justify-items: center;
  font-size: .8rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}



.dark-measure-totals {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  font-size: .8rem;
  color: white;
  justify-items: center;
 font-family: 'Josefin Sans', sans-serif;
}