.light-totals-card {
  border-radius: 1.5rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 50rem;
  padding-left: 8px;
  padding-right: 8px;
}

.light-totals-card h1 {
  color: #000000;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
}

.light-stats-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}

.light-stats-labels p {
  color: #5f5f5f;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 600px) {
  .light-stats-labels p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.light-compare-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  justify-items: center;
  width: 100%;
}

.light-compare-labels p {
  color: #5f5f5f;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 600px) {
  .light-compare-labels p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.light-stat-totals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
  justify-items: center;
  font-size: 0.8rem;
  color: #5f5f5f;
  font-family: 'Josefin Sans', sans-serif;
}

.light-measure-totals {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  font-size: 0.8rem;
  color: #5f5f5f;
  justify-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.client-name {
  text-align: center;
}

.totals-info hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 80%;
}
.totals-info h1,
.totals-info h3 {
  text-align: center;
}

.graph-image img {
  text-align: center;
  width: 100%;
  object-fit: cover;
}

.new-checkin-box {
  display: flex;
  justify-content: center;
}
.new-checkin__button {
  margin: 0;
  width: 70%;
}

.modalButtons {
  margin-right: 10px;
}

.light-chart-container {
  box-shadow: -2px -2px 3px rgba(255, 254, 254, 0.959),
    4px 4px 4px rgba(0, 0, 0, 0.37);
}

.totals-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
}

.dark-totals-card {
  border-radius: 1.5rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 65rem;
  padding-left: 8px;
  padding-right: 8px;
}

.dark-totals-card h1 {
  color: #d8d8d8;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.dark-stats-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-stats-labels p {
  color: white;
}

@media (max-width: 600px) {
  .dark-stats-labels p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.dark-compare-labels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  justify-items: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-compare-labels p {
  color: white;
}

@media (max-width: 600px) {
  .dark-compare-labels p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.dark-stat-totals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
  justify-items: center;
  font-size: 0.8rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-measure-totals {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
  font-size: 0.8rem;
  color: white;
  justify-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-chart-container {
  box-shadow: -3px -3px 3px rgba(151, 150, 150, 0.26),
    4px 4px 4px rgba(0, 0, 0, 0.6);
}

.client-personal-bubble-header {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.client-personal-bubble-header img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.light-divider {
  width: 100%;
  border-top: 1px solid rgb(179, 179, 179);
  margin-bottom: 0.5rem;
}

.dark-divider {
  width: 100%;
  border-top: 1px solid rgb(95, 95, 95);
  margin-bottom: 0.5rem;
}

.dark-checkin-item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.light-checkin-item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .dark-checkin-item__actions {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .light-checkin-item__actions {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
