.light-compare-container {
  display: grid;
  width: 100%;
  grid-template-columns: 31% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  height: 1.2rem;
}

.light-compare-container p {
  display: flex;
  font-size: 0.9rem;
  color: var(--tech-blue);
  font-family: 'Josefin Sans', sans-serif;
}

.dark-compare-container {
  display: grid;
  width: 100%;
  grid-template-columns: 31% 18% 18% 18% 18%;
  grid-template-rows: auto;
  justify-items: center;
  height: 1.2rem;
}

.dark-compare-container p {
  display: flex;
  font-size: 0.9rem;
  color: var(--last-gradient);
  font-family: 'Josefin Sans', sans-serif;
}
