.new-client-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light-background);
}

.dark-new-client {
  background-color: var(--dark-background);
}

.light-new-client__form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 8rem;
  width: 90%;
  max-width: 40rem;
}

.light-new-client__form hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(228, 228, 228, 0.719),
    rgba(124, 124, 124, 0.75),
    rgba(228, 228, 228, 0.719)
  );
  width: 90%;
}
.light-new-client__form label {
  text-align: center;
}

.light-new-client__inputs {
  margin: auto;
  width: 80%;
}
.light-new-client-button__box {
  display: flex;
  width: 100%;
  justify-content: center;
}
.light-new-client-button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.light-create-client-head {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: normal;
}

.dark-new-client__form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 8rem;
  width: 90%;
  max-width: 40rem;
}

.dark-new-client__form hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 90%;
}
.dark-new-client__form label {
  text-align: center;
}

.dark-new-client__inputs {
  margin: auto;
  width: 80%;
}
.dark-new-client-button__box {
  display: flex;
  width: 100%;
  justify-content: center;
}
.dark-new-client-button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.dark-create-client-head {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}
