.dark-checkin-page-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-background);
}

.light-checkin-page-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: var(--light-background);
}

.wheel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  transition: all 0.5s;
  border-radius: 50%;
  /* border: 2px solid rgb(177, 177, 177); */
}

.light-wheel-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(216, 216, 216);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.dark-wheel-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--dark-background);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.light-ghost-center {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 
  /* -2px -2px 8px white, 
  5px 5px 8px rgba(0, 0, 0, 0.856), */ inset
      2px 2px 4px black,
    inset 2px 2px 3px white;
  /* background-color: rgb(77, 77, 77); */
  background-color: transparent;
}

.dark-ghost-center {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 
  /* -2px -2px 8px white, 
  5px 5px 8px rgba(0, 0, 0, 0.856), */ inset -2px -2px
      4px rgb(59, 59, 59),
    inset 2px 2px 3px rgb(0, 0, 0);
  /* background-color: rgb(77, 77, 77); */
  background-color: transparent;
}

.light-spoke-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 8rem;
  width: 2rem;
  /* background-color: green; */
  font-family: 'Josefin Sans', sans-serif;
}

.dark-spoke-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 8rem;
  width: 2rem;
  /* background-color: green; */
  font-family: 'Josefin Sans', sans-serif;
}

.dark-spoke-center {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 8rem;
  width: 2rem;
  /* background-color: green; */
  font-family: 'Josefin Sans', sans-serif;
}

.test-spoke {
  height: 6rem;
  width: 1px;
  /* background-color: black; */
  transform: rotate(219deg);
}

.first-spoke {
  position: absolute;
  bottom: -8rem;
  left: 1rem;
}

.second-spoke {
  position: absolute;
  left: -4.65rem;
  bottom: -3.75rem;
  transform: rotate(73deg);
}

.third-spoke {
  position: absolute;
  bottom: 3rem;
  left: -2.3rem;
  transform: rotate(146deg);
}

.fourth-spoke {
  position: absolute;
  bottom: 2.55rem;
  right: -2.75rem;
  transform: rotate(219deg);
}

.fifth-spoke {
  position: absolute;
  bottom: -4.21rem;
  right: -4.5rem;
  transform: rotate(292deg);
}

.spoke-box1-light {
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(255, 255, 255);
}

.spoke-box1-dark {
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(102, 102, 102);
}

.spoke-box2-dark {
  width: 50%;
  height: 100%;
  border-left: 1px solid rgb(0, 0, 0);
}

.spoke-box2-light {
  width: 50%;
  height: 100%;
  border-left: 1px solid rgb(116, 116, 116);
}

.spoke-box3-light {
  padding: 8px;
  position: absolute;
  top: -130%;
  right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  /* margin-top: 5px; */
  height: 3rem;
  border-radius: 50%;
  box-shadow: -2px -2px 3px white, 2px 2px 5px rgba(63, 63, 63, 0.89);
  background: rgb(212, 212, 212);
  transition: all 0.6s;
  /* border: 1px solid black; */
  cursor: pointer;
}

.spoke-box3-dark {
  padding: 8px;
  position: absolute;
  top: -130%;
  right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  /* margin-top: 5px; */
  height: 3rem;
  border-radius: 50%;
  box-shadow: -1px -1px 2px rgb(78, 78, 78), 3px 3px 5px rgba(0, 0, 0, 0.89);
  background: rgb(20, 20, 20);
  transition: all 0.6s;
  /* border: 1px solid black; */
  cursor: pointer;
}

.huge {
  width: 5rem;
  height: 5rem;
}

.spoke-box2-light p {
  transform: rotate(90deg);
  text-align: center;
}

.spoke-box2-dark p {
  transform: rotate(90deg);
  text-align: center;
}

.light-spoke1-icon {
  width: 130%;
  height: 130%;
  color: purple;

  /* box-shadow: 2px 2px 5px black;
  background: white; */
}

.dark-spoke1-icon {
  width: 130%;
  height: 130%;
  color: purple;

  /* box-shadow: 2px 2px 5px black;
  background: white; */
}

.light-wheel-info-box {
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid grey;
  transition: all 0.5s;
  opacity: 100%;
}

.dark-wheel-info-box {
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid grey;
  transition: all 0.5s;
  opacity: 100%;
}

.info-visible {
  opacity: 1;
  transition: all 0.5s;
}

.info-invisible {
  opacity: 0;
  height: 0px;
  transition: all 0.5s;
}

.light-spoke-label {
  position: absolute;
  top: -2rem;
}

.dark-spoke-label {
  position: absolute;
  top: -2rem;
  color: white;
}

.light-wheel-info-box {
  /* width: 100%; */
  max-width: 40rem;
  min-width: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: -3px -3px 8px white, 3px 3px 8px black;
  min-height: 18rem;
  animation: fadeIn 2s;
  /* position: absolute;
  left: auto;
  right: auto; */
  border: none;
}

.dark-wheel-info-box {
  /* width: 100%; */
  max-width: 40rem;
  min-width: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.233), 3px 3px 8px black;
  min-height: 18rem;
  animation: fadeIn 2s;
  /* position: absolute;
  left: auto;
  right: auto; */
}

.checkin-stats-wrapper {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pentagon {
  position: absolute;
  transform: rotate(180deg);
  height: 2rem;
  width: 2rem;
  color: grey;
}

.light-ghost-wheel-container {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: inset 6px 6px 10px white, 6px 6px 12px rgb(66, 66, 66),
    -2px -2px 3px rgb(139, 139, 139);
  max-width: 20rem;
  height: 20rem;
  background-color: rgb(224, 224, 224);
  animation: fadeIn 2s;
  margin-top: 2rem;
}

.dark-ghost-wheel-container {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: inset 6px 6px 10px rgb(54, 54, 54), 6px 6px 12px rgb(0, 0, 0),
    -2px -2px 4px rgb(0, 0, 0);
  max-width: 20rem;
  height: 20rem;
  background-color: rgb(37, 37, 37);
  animation: fadeIn 2s;
  margin-top: 2rem;
}

.wheel-info-box__wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  flex-wrap: wrap;
}

.wheel-info-column {
  height: 16rem;
  /* background-color: rgba(0, 0, 255, 0.383); */
  width: 25%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wheel-info-column p {
  margin: 0;
  text-align: center;
}

.bf-column1 {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  padding-top: 1.7rem;
}

.info-highlight {
  color: var(--first-gradient);
}

.picture-info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 16rem;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* border: 1px solid black; */
}

.picture-info-column img {
  width: 100%;
  height: auto;
}

.picture-preview-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 0.5rem;
}

.picture-preview-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.kitten-wrapper img {
  width: 100%;
  height: auto;
}

.kitten-wrapper {
  width: 30%;
}
