.one1 {
  transition: all 0.5s;
}

.one2 {
  transform: rotate(-286deg);
  transition: all 0.5s;
}

.one3 {
  transform: rotate(-213deg);
  transition: all 0.5s;
}

.one4 {
  transform: rotate(-141deg);
  transition: all 0.5s;
}

.one5 {
  transform: rotate(-68deg);
  transition: all 0.5s;
}

.two1 {
  transform: rotate(-68deg);
  transition: all 0.5s;
}

.two2 {
  transition: all 0.5s;
}

.two3 {
  transform: rotate(-286deg);
  transition: all 0.5s;
}

.two4 {
  transform: rotate(-213deg);
  transition: all 0.5s;
}
.two5 {
  transform: rotate(-141deg);
  transition: all 0.5s;
}

.three2 {
  transform: rotate(-69deg);
  transition: all 0.5s;
}

.three3 {
  transition: all 0.5s;
}

.three4 {
  transform: rotate(-287deg);
  transition: all 0.5s;
}

.three5 {
  transform: rotate(-214deg);
  transition: all 0.5s;
}

.three1 {
  transform: rotate(-142deg);
  transition: all 0.5s;
}

.four3 {
  transform: rotate(-70deg);
  transition: all 0.5s;
}

.four4 {
  transition: all 0.5s;
}

.four5 {
  transform: rotate(-288deg);
  transition: all 0.5s;
}

.four1 {
  transform: rotate(-218deg);
  transition: all 0.5s;
}

.four2 {
  transform: rotate(-143deg);
  transition: all 0.5s;
}

.five4 {
  transform: rotate(-72deg);
  transition: all 0.5s;
}

.five5 {
  transition: all 0.5s;
}

.five1 {
  transform: rotate(-290deg);
  transition: all 0.5s;
}

.five2 {
  transform: rotate(-217deg);
  transition: all 0.5s;
}

.five3 {
  transform: rotate(-145deg);
  transition: all 0.5s;
}

.wheel1 {
  transform: rotate(0deg);
}

.wheel2 {
  transform: rotate(286deg);
}

.wheel3 {
  transform: rotate(213deg);
}

.wheel4 {
  transform: rotate(141deg);
}

.wheel5 {
  transform: rotate(68deg);
}
