.checkins-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 12rem;
  background-color: var(--light-background);
}

.dark-checkins-container {
  background-color: var(--dark-background);
}
