.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  position: relative;
  width: 90%;
  max-width: 25rem;
  margin: auto;
  text-align: center;
  background: transparent;
  top: 12vh;
  overflow: hidden;
}

.auth-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--light-background);
  overflow: hidden;
}

.auth-dark-back {
  background-color: var(--dark-background);
}

.login-head-dark {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  transition: 0.5s;
}

.login-head-light {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  transition: 0.5s;
}
