.light-button {
  font: inherit;
  padding: 0.9rem 1.8rem;
  background: #eeeeee;
  color: var(--first-gradient);
  cursor: pointer;
  margin-right: 0rem;
  text-decoration: none;
  display: inline-block;
  box-shadow: var(--small-light-shadow);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
  border: none;
  border-radius: 3px;
}

.light-button:focus {
  outline: none;
  border: none;
}

.light-button:hover,
.light-button:active {
  box-shadow: none;
}

.light-button--inverse {
  color: #777777;
  border: none;
  background: transparent;
}

.light-button--inverse:hover,
.light-button--inverse:active {
  color: #333333;
  background: transparent;
  border: none;
  border-color: transparent;
}

.light-button--danger {
  color: #aa0000;
  border: none;
}

.light-button--danger:hover,
.light-button--danger:active {
  border: none;
  border-color: transparent;
}

.light-button:disabled,
.light-button:hover:disabled,
.light-button:active:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
  border: none;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

.dark-button {
  font: inherit;
  padding: 0.9rem 1.8rem;
  background: var(--header-black);
  color: var(--first-gradient);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  box-shadow: var(--small-dark-shadow);
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  font-size: 0.8rem;
  /* background: transparent; */
  border-radius: 3px;
}

.dark-button:focus {
  outline: none;
}

.dark-button:hover,
.dark-button:active {
  box-shadow: none;
  border: 1px solid rgb(73, 73, 73);
}

.dark-button--inverse {
  background: #333333;
  background: var(--header-black);

  color: #b8b6b6;
}

.dark-button--inverse:hover,
.dark-button--inverse:active {
  color: var(--first-gradient);
}

.dark-button--danger {
  color: #c42a2a;
}

.dark-button--danger:hover,
.dark-button--danger:active {
  color: #c42a2a;
}

.dark-button:disabled,
.dark-button:hover:disabled,
.dark-button:active:disabled {
  background: rgb(34, 34, 34);
  color: #555555;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

.button--tiny {
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
}

@media (min-width: 500px) {
  .button--tiny {
    padding: 0.9rem 1.8rem;
    font-size: 0.8rem;
  }
}
