
  .form-control {
    margin: 1rem 0;
    position: relative;
    margin-bottom: 25px;
   
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
  }

  .form-control p {
    color: #5fa8d3
  }


.light-form {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  
}

.light-form-text {
  width: 100%;
  position: relative;
  height: 140px;
  overflow: hidden;
  
}

.light-form input {
  border-radius: 1em;
  width: 100%;
  height:100%;
  color: #5fa8d3;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow:
    inset -3px -3px 9px rgb(255, 255, 255),
    inset 4px 4px 8px rgba(0,0,0,0.3);
  
}

.light-form-text textarea {
  border-radius: 1em;
  width: 100%;
  height:100%;
  color: #5fa8d3;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow:
    inset -3px -3px 9px rgb(255, 255, 255),
    inset 4px 4px 8px rgba(0,0,0,0.3);
  
}

.light-form label {
  color: #838383;
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* border-bottom: 1px solid black; */
}

.light-form-text label {
  color: #838383;
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* border-bottom: 1px solid black; */
}

.light-form label::after {
  padding-right: 10px;
  padding-left: 10px; 
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 1rem;
  transition: all 0.3s ease;
  font-size: 20px;
}

.light-form input:focus + .label-name .content-name, 
.light-form input:valid + .label-name .content-name { 
  /* works because we put isrequired on input */
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
  
  
}

.light-form-text textarea:focus + .label-name .content-name, 
.light-form-text textarea:valid + .label-name .content-name { 
  /* works because we put isrequired on input */
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
  
  
}

.light-form input:focus + .label-name::after,
.light-form input:valid + .label-name::after {
  transform: translateX(0%)
}

.light-form-text textarea:focus + .label-name::after,
.light-form-text textarea:valid + .label-name::after {
  transform: translateX(0%)
}

/* DARK MODE */

.dark-form {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.dark-form input {
  border-radius: 1em;
  width: 100%;
  height:100%;
  color: #5fa8d3;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow:
    inset -3px -3px 9px rgba(226,226,226, 0.226),
    inset 6px 6px 12px rgba(0,0,0,0.8);
}

.dark-form label {
  color: #b8b6b6;
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* border-bottom: 1px solid black; */
}

.dark-form label::after {
  padding-right: 10px;
  padding-left: 10px; 
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 1rem;
  transition: all 0.3s ease;
  font-size: 20px;
}

.dark-form input:focus + .label-name .content-name, 
.dark-form input:valid + .label-name .content-name { 
  /* works because we put isrequired on input */
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
  
  
}

.dark-form input:focus + .label-name::after,
.dark-form input:valid + .label-name::after {
  transform: translateX(0%)
}