.light-main-header {
  
  justify-self: center;
  border-radius: 1.5rem;
  width: 98%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top:.5em;
  left:.3em;
  right:.5em;
  background: #d6d6d6;
  background-image: linear-gradient(to bottom right, #f1f1f1, #d3d3d3 );
  padding: 0 1rem;
  z-index: 5;
  box-shadow:
    -4px -4px 4px 0 rgb(255, 255, 255),
    4px 4px 4px 0 rgba(0, 0, 0, 0.383);
}

.dark-main-header {
  justify-self: center;
  border-radius: 1.5rem;
  width: 98%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top:.5em;
  left:.5em;
  right:.5em;
  background: #333333;
  background-image: linear-gradient(to bottom right, #444343, #242424 );
  padding: 0 1rem;
  z-index: 5;
  box-shadow:
    -3px -3px 3px 0 rgba(255, 255, 255, 0.226),
    6px 6px 6px 0 rgba(0, 0, 0, 0.746);
}

main {
  margin-top: 5rem;
}


@media (min-width: 768px) {
  .light-main-header {
    justify-content: space-between;
    left:.8em;
    right:.5em;
  }
  .dark-main-header {
    justify-content: space-between;
    left:.8em;
    right:.5em;
  }
}