.dark-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.dark-nav-links li {
  margin: 1rem;
}

.dark-nav-links a {
  background: #333333;
  background-image: linear-gradient(to bottom right, #444343, #242424 );
  border-radius: 1rem;
  border: 1px solid transparent;
  color: #2dbdb1;
  text-decoration: none;
  padding: 0.8rem 0.6rem 0.6rem 0.6rem;
  box-shadow:   -2px -2px 3px rgba(238, 238, 238, 0.452),
                2px 2px 6px rgba(0,0,0,0.8);
  font-family: 'Josefin Sans', sans-serif;
}

.dark-nav-links a:hover,
.dark-nav-links a:active,
.dark-nav-links a.active {
  background: #2dbdb1;
  background-image: linear-gradient(to bottom right, rgb(69, 246, 246), rgb(58, 204, 204));
  color: #292929;
}

.dark-nav-links button {
  background: #333333;
  background-image: linear-gradient(to bottom right, #444343, #242424 );
  border-radius: 1rem;
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  box-shadow:   -2px -2px 3px rgba(238, 238, 238, 0.452),
                2px 2px 6px rgba(0,0,0,0.8);
}


.dark-nav-links button:focus {
  outline: none;
}

.dark-nav-links button:hover,
.dark-nav-links button:active {
  background: rgba(67, 240, 240, 0.5);
  color: #292929;
}

@media (min-width: 768px) {
  .dark-nav-links {
    flex-direction: row;
  }

  .dark-nav-links li {
    margin: 0 0.5rem;
  }

  .dark-nav-links a {
    color: white;
    text-decoration: none;
  }

  /* .dark-nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  } */
  
  .dark-nav-links button:hover,
  .dark-nav-links button:active {
    /* background: rgba(67, 240, 240, 0.5); */
    color: #292929;
  }
}

/* Light Stuff */

.light-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.light-nav-links li {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;

}

.light-nav-links a {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  background: transparent;
  align-items: center;
  border-radius: 0.5rem;
  color: #919191;
  text-decoration: none;
  padding: .5rem  0.4rem 0.4rem 0.4rem;
  font-family: 'Josefin Sans', sans-serif;
  width: 95%;
  
  
}

.light-nav-links a:hover,
.light-nav-links a:active,
.light-nav-links a.active {
  background: transparent;
  box-shadow: inset -2px -2px 4px 0 rgba(255, 255, 255),
              inset 3px 3px 8px 0 rgba(0, 0, 0, 0.39);
  
  
}

.light-nav-links button {
  background: transparent;
  border-radius: 1rem;
  color: #696969;
  text-decoration: none;
  padding: 0.5rem;
  
}


.light-nav-links button:focus {
  outline: none;
}

.light-nav-links button:hover,
.light-nav-links button:active {
  
  color: #292929;
}

@media (min-width: 768px) {
  .light-nav-links {
    flex-direction: row;
  }

  .light-nav-links li {
    margin: 0 0.5rem;
  }

  .light-nav-links a {
    text-decoration: none;
  }

  /* .light-nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  } */
  
  .light-nav-links button:hover,
  .light-nav-links button:active {
    /* background: rgba(67, 240, 240, 0.5); */
    color: #292929;
  }
}