.light-side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;

  background: #d6d6d6;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.479),
    12px 12px 12px 0 rgba(27, 27, 27, 0.801);
}

.dark-side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: white;
  background: #333333;
}
