.clients-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.light-clients-title {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
}

.new-client__button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button-new-client {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0;
}

.light-break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(228, 228, 228, 0.719),
    rgba(124, 124, 124, 0.75),
    rgba(228, 228, 228, 0.719)
  );
  width: 80%;
}

.dark-break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 80%;
}

.dark-clients-title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'Josefin Sans', sans-serif;
}

.your-clients-number-light {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.your-clients-number-dark {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.light-page-split {
  width: 100%;
  height: 2px;
  background-color: rgb(208, 208, 208);
  box-shadow: 1px 1px 1px rgb(206, 206, 206);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dark-page-split {
  width: 100%;
  height: 2px;
  background-color: rgb(33, 33, 33);
  box-shadow: 1px 1px 1px rgb(41, 41, 41);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.client-list-header__holder {
  width: 100%;
  height: 6rem;
  position: relative;
}

.weight-lifter {
  height: 12rem;
  width: 12rem;
  position: absolute;
  color: rgba(228, 54, 255, 0.166);
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
}
