.dark-client-item:hover,
.dark-client-item:active {
  box-shadow: inset -7px -7px 7px 0 rgba(151, 150, 150, 0.267),
    inset 10px 10px 10px 0 rgba(0, 0, 0, 0.589),
    -4px -4px 4px 0 rgba(151, 150, 150, 0), 10px 10px 10px 0 rgba(0, 0, 0, 0);
}

.dark-client-item h3 {
  color: #b8b6b6;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-client-item a:hover,
.dark-client-item a:active {
  box-shadow: none;
}

.dark-client-item__content {
  border-radius: 1.5em;
  padding: 0em;
}

.dark-client-item__image {
  width: 7rem;
  height: 7rem;
  background: transparent;
  margin-top: 6rem;
  z-index: 5;
}

.dark-client-item__info h2 {
  font-style: bold;
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-client-item__info {
  width: 100%;
  margin-top: 0.5rem;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(63, 63, 63);
}

.dark-client-item__info h3 {
  font-size: 0.8rem;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

.light-client-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  height: 22rem;
  min-width: 17.5rem;
  box-shadow: -4px -4px 4px 0 rgb(255, 255, 255),
    4px 4px 9px 0 rgba(0, 0, 0, 0.39);
  animation: fadeIn 2s;
}

.dark-client-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  height: 22rem;
  min-width: 17.5rem;
  box-shadow: -3px -3px 3px 0 rgba(151, 150, 150, 0.255),
    6px 6px 6px 0 rgba(0, 0, 0, 0.797);
  animation: fadeIn 2s;
}
.light-client-item:hover,
.light-client-item:active {
  box-shadow: none;
}

.light-client-item h3 {
  color: black;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.light-client-item a {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background: rgb(235, 235, 235);
}

.dark-client-item a {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background: #222222;
}

.light-client-item__content {
  border-radius: 1.5em;
  padding: 0em;
}

.light-client-item__image {
  width: 7rem;
  height: 7rem;
  background: transparent;
  margin-top: 6rem;
  z-index: 5;
}

.light-client-item__info {
  width: 100%;
  margin-top: 0.5rem;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.light-client-item__info h2 {
  font-size: 17px;
  margin: 0 0 0.5rem 0;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.light-client-item__info:hover h2,
.light-client-item__info:active h2 {
  color: rgb(245, 131, 55);
}

.light-client-item__info h3 {
  font-size: 0.8rem;
  margin: 0;
  color: rgba(50, 50, 50, 0.493);
}

.client-background-image {
  position: relative;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
  left: 0;
  overflow: hidden;
}

.background-image-filter {
  background-color: rgba(72, 72, 72, 0.571);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.client-background-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  align-self: flex-end;
}

.banner-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.banner-list p {
  color: grey;
  margin: 0;
  font-size: 0.8rem;
}

.banner-circle-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.banner-circle-display p {
  color: white;
  font-size: 0.8rem;
}

.background-placeholder {
  background: var(--purple-gradient);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
