.clients-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.light-clients-title {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.new-client__button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button-new-client {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0;
}

.light-break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(228, 228, 228, 0.719),
    rgba(124, 124, 124, 0.75),
    rgba(228, 228, 228, 0.719)
  );
  width: 80%;
}

.dark-break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 80%;
}

.dark-clients-title {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px black, -3px -3px 3px black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.your-clients-number-light {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 10%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
  font-weight: lighter;
}

.your-clients-number-dark {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 10%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
  font-weight: lighter;
}

.light-page-split {
  width: 100%;
  height: 2px;
  background-color: rgb(208, 208, 208);
  box-shadow: 1px 1px 1px rgb(206, 206, 206);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dark-page-split {
  width: 100%;
  height: 2px;
  background-color: rgb(33, 33, 33);
  box-shadow: 1px 1px 1px rgb(41, 41, 41);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.client-list-header__holder {
  width: 100%;
  height: 8rem;
  position: relative;
}

@media (min-width: 600px) {
  .client-list-header__holder {
    height: 14rem;
  }

  .light-clients-title {
    font-size: 2.5rem;
  }

  .dark-clients-title {
    font-size: 2.5rem;
  }

  .your-clients-number-dark {
    font-size: 1.5rem;
  }

  .your-clients-number-light {
    font-size: 1.5rem;
  }
}

.header-background-wrapper {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 90%;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.header-background-wrapper img {
  width: 100%;
  height: auto;
  /* opacity: 0.3; */
}

.weight-lifter {
  height: 12rem;
  width: 12rem;
  position: absolute;
  color: rgba(228, 54, 255, 0.166);
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
}

.dark-no-clients-wrapper {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.dark-no-clients-wrapper h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 2rem;
  color: white;
}

.light-no-clients-wrapper {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.light-no-clients-wrapper h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 2rem;
}
