@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@font-face {
  font-family: 'Skyer';
  src: local('Skyer'),
    url(./Shared/Resources/Fonts/Skyer-Regular.otf) format('truetype');
}
:root {
  --dark-background: #2e2e2e;
  --light-background: rgb(225, 227, 228);
  --small-light-shadow: -1px -1px 2px rgb(255, 255, 255),
    1px 1px 4px rgba(0, 0, 0, 0.338);
  --small-dark-shadow: 3px 3px 5px rgb(0, 0, 0),
    -1px -1px 2px rgba(142, 142, 142, 0.331);
  --tech-blue: rgb(30, 149, 223);
  --raised-dark: #0b0b0b6b;
  --raised-light: rgb(237, 237, 237);
  --purple-gradient: linear-gradient(to right, #5f0a87, #a4508b);
  --last-gradient: #a4508b;
  --first-gradient: #b618ff;
  --header-black: #0b0b0bd0;
}
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-fill {
  height: 100%;
  width: 100%;
}

.loaderOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-loaderOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scaled {
  transform: scale(0.7); /* Equal to scaleX(2) scaleY(0.5) */
  transform-origin: center;
}

.ultraScaled {
  transform: scale(0.5);
  transform-origin: center;
}

@keyframes pageEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loaderFade {
  animation: loadFade 2s;
  animation-delay: 3s;
}

@keyframes loadFade {
  0% {
    opacity: 1;
  }
  100% {
    opactity: 0;
  }
}

.darkBacking {
  height: fit-content;
  width: 100vw;
  background-color: var(--dark-background);
}

.lightBacking {
  min-height: fit-content;
  min-width: 100vw;

  background-color: var(--light-background);
}
